<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>drt</string>
	<key>CFBundleDisplayName</key>
	<string>Barkode</string>
	<key>CFBundleIdentifier</key>
	<string>adp.drt.barkode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>Jiggers.html</string>
				<key>Identifier</key>
				<string>jiggers</string>
				<key>Label</key>
				<string>Jiggers</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>inject.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>inject.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>I am Safari bookmarklets</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://adp/barkode/update.plist</string>
	<key>Website</key>
	<string>http://adp/barkode/index.html</string>
</dict>
</plist>
