.WindowFrame {
    border-top: 3px solid #b02 !important;
}

#PageContainer #NavColContainer {
    background: white !important;
}
#PageContainer #NavColContainer .logo {
    height: 72px !important;
    margin-left: 63px !important;
}

#PageContext #Toolbar {
    width: 66% !important;
    text-align: right !important;
/*    border-radius: 16px 6px;
*/}
#PageContext #CloseToolbarItem, #CancelToolbarItem {
    float: left !important;
    visibility: hidden;
}

#PageContent #tblTimeEntries tr td:nth-child(1) {
    width: 15% !important;
}
#PageContent #tblTimeEntries tr td:nth-child(2) .AprimoTextBox {
    width: 99% !important;
}
#PageContent #tblTimeEntries tr td:nth-child(3) {
    width: 10% !important;
}

